<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guleryigitcan.figmahomework">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FigmaHomework">
        <activity
            android:name=".LiveData"
            android:exported="true"
            android:label="@string/title_activity_live_data"
            android:theme="@style/Theme.FigmaHomework.NoActionBar" />
        <activity
            android:name=".HomeScreen"
            android:exported="true" />
        <activity
            android:name=".SignScreen"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>